<h2>Definitions!</h2>

<form action="/definitions/:id/content" method="post">

  <label for="definition">Enter a definition to build your dictionary</label>

  <div class="form-group">
    <input type="text" name="definition" class="form-control">
  </div>

  <button type="submit" name="button" class="btn">Add!</button>
</form>

<h3>Definitions:</h3>

<ul>
  <% @definitions.each() do |definition| %>
    <li><%= definition.content() %></li>
  <% end %>
</ul>

<a href="/">Home</a>
