<h1>Let's Learn About Words</h1>
<p>Build your own dictionary to learn about words.</p>
<p>Click on a word to see its definition, or to enter another definition</p>

<form action="dictionary" method="post">

  <div class="form-group">
    <label for="word">Enter a word to build your dictionary:</label>
    <input type="text" name="word" class="form-control">
  </div>

  <button type="submit" name="button" class="btn">Add!</button>
</form>

<h3>Dictionary</h3>
<ul>
  <% @dictionary.each() do |word| %>
    <li><a href="/words/<%= word.id() %>"><%= word.name() %></a></li>
  <% end %>
</ul>
